form{
    margin: 2em;
    padding: 1em 1.5em;
    border: 1px solid;
}

li{
    margin-top: 0.75em;
    list-style: none;
}

.formlist{
    padding: 0;
}

.multiplechoice-list{
    padding-left: 1.25em;
}

.multiplechoice-list li {
    margin-top: 0.4em;
}

.question{
    text-decoration: underline;
}