
/*------- CSS reset -------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*------- Custom properties -------*/

:root{
    --color-primary: #39006C;
    --color-secondary: #3A0CA3;
    --color-font: #9ADCFF;
    --color-accent: #F72585;


}

@media (prefers-color-scheme: light){
    :root{
        --color-primary: #9ADCFF;
        --color-secondary: #39006C;
        --color-font: #3A0CA3;
        --color-accent: #F72585;
    }
}

/*------- Disable scrolling -------*/

html, body {
    overflow: hidden;
    scroll-behavior: smooth
}

body{
    font-family: Coda, serif;
    font-size: 20px;
}

/*------- Nav bar -------*/

nav{

    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    float: left;
    height: 100vh;
    width: 6em;
    gap: 1em;



}

nav a{
    font-size: 2rem;
    font-weight: 500;
    width: 5rem;
    height: 5rem;
    border-radius: 0.25em;
    background-color: var(--color-primary);
    color: var(--color-accent);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .15s;
}

nav a:hover,
nav a:focus{
    transform: scale(1.15);
}

.changeState{
    color: var(--color-primary);
    background-color: var(--color-accent);
}

/*------- Main Page -------*/

.pagecontainer{
    margin-left: 6em
}

.page{
    background-color: var(--color-primary);
    height: 100vh;
    display:flex;
    align-items: center;
    font-size: 1.3em;

}

.page ul{
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--color-font);
    list-style-type: none;

}

.page a:before{
    content:"\2022";
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin-right: min(2em,4vw);
}

.page a{
    color: inherit;
    transition: 0.3s;
}

.page li:hover,
.page a:focus{
    color: var(--color-accent);
    font-size:1.2em;
}

.info{
    position: absolute;
    top: 0.75rem;
    color: var(--color-accent);
    text-align: center;
}